In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv ('Social_Network_Ads.csv')

In [4]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
# independent variable target varibale seprarate

In [3]:
X=dataset.iloc[:,[1,2,3]]

In [4]:
X

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [ ]:
# need only value in array

In [5]:
X=dataset.iloc[:,[1,2,3]].values

In [9]:
X

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [6]:
y=dataset.iloc[:-1]

In [11]:
y

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0

[399 rows x 5 columns]

In [7]:
y=dataset.iloc[:,-1].values

In [8]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [16]:
# x varibale is string so lets convert it

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()

In [11]:
X[:,0] = le.fit_transform(X[:,0])

In [12]:
X

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [25]:
# 1 - male , 0=Female

In [26]:
#spliting Data

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2)

In [15]:
len(X_train)

320

In [16]:
len(X_test)

80

In [17]:
from sklearn.naive_bayes import GaussianNB

In [18]:
model = GaussianNB()

In [33]:
#train model

In [19]:
model.fit(X_train,y_train)

GaussianNB()

In [20]:
  model.predict(X_test)

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0], dtype=int64)

In [21]:
X_test

array([[1, 36, 99000],
       [0, 58, 47000],
       [1, 37, 70000],
       [0, 27, 31000],
       [0, 35, 23000],
       [0, 38, 50000],
       [0, 42, 70000],
       [1, 46, 79000],
       [0, 29, 83000],
       [0, 20, 36000],
       [1, 46, 117000],
       [1, 56, 133000],
       [1, 39, 71000],
       [0, 35, 65000],
       [1, 39, 134000],
       [1, 56, 60000],
       [0, 46, 32000],
       [0, 58, 95000],
       [1, 35, 88000],
       [1, 37, 55000],
       [1, 23, 20000],
       [0, 39, 61000],
       [0, 57, 33000],
       [0, 52, 138000],
       [0, 34, 43000],
       [0, 36, 50000],
       [1, 47, 25000],
       [1, 19, 25000],
       [0, 56, 104000],
       [0, 30, 79000],
       [1, 42, 104000],
       [0, 47, 51000],
       [0, 28, 37000],
       [0, 38, 113000],
       [1, 38, 59000],
       [1, 37, 144000],
       [1, 40, 65000],
       [1, 24, 23000],
       [0, 53, 104000],
       [0, 45, 131000],
       [1, 28, 32000],
       [1, 48, 41000],
       [1, 60, 42000],
       [1, 32, 18000],
       [0, 48, 30000],
       [0, 37, 62000],
       [1, 41, 59000],
       [0, 47, 113000],
       [0, 50, 44000],
       [0, 42, 53000],
       [0, 33, 69000],
       [0, 46, 82000],
       [1, 30, 135000],
       [0, 44, 139000],
       [1, 35, 79000],
       [1, 48, 33000],
       [0, 28, 84000],
       [1, 40, 107000],
       [0, 58, 38000],
       [0, 48, 138000],
       [1, 24, 19000],
       [1, 36, 60000],
       [0, 20, 23000],
       [1, 18, 82000],
       [0, 39, 79000],
       [0, 22, 63000],
       [0, 23, 66000],
       [1, 47, 34000],
       [1, 19, 70000],
       [0, 45, 22000],
       [1, 40, 78000],
       [0, 47, 107000],
       [0, 35, 77000],
       [1, 27, 20000],
       [1, 49, 74000],
       [0, 52, 21000],
       [0, 39, 59000],
       [0, 43, 112000],
       [1, 57, 60000],
       [0, 31, 15000]], dtype=object)

In [22]:
model.score(X_test , y_test)

0.9

In [23]:
from sklearn.naive_bayes import BernoulliNB

In [24]:
model1 = BernoulliNB()

In [25]:
model1.fit(X_train,y_train)

BernoulliNB()

In [26]:
model1.score(X_test,y_test)

0.55