In [1]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [2]:
df = pd.read_csv("Insurance1.csv")

In [3]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    32000
2   35  167.64      78    42000
3   40     NaN     110    47000
4   45  157.48      85    55000

In [6]:
# lets hancel missing value

In [10]:
mean_height = df.height.mean()

In [8]:
df.height.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    162.56
1    172.72
2    167.64
3       NaN
4    157.48
Name: height, dtype: float64>

In [9]:
# lets fill this data

In [11]:
df.height = df.height.fillna(mean_height)

0    162.56
1    172.72
2    167.64
3    165.10
4    157.48
Name: height, dtype: float64

In [12]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    32000
2   35  167.64      78    42000
3   40     NaN     110    47000
4   45  157.48      85    55000

In [13]:
# fill this to main DF

In [14]:
df.height = df.height.fillna(mean_height)

In [15]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    32000
2   35  167.64      78    42000
3   40  165.10     110    47000
4   45  157.48      85    55000

In [16]:
reg = linear_model.LinearRegression()

# fit method - in fit first argument will be 2Dimesion , it is used to for to train with available dataset and will find independent and dependent variable

In [18]:
reg.fit(df [['age' , 'height', 'weight']], df['premium'])

LinearRegression()

In [19]:
 reg.coef_

array([2127.07477133,  670.09657837, -120.87603118])

In [20]:
reg.intercept_

-135691.8217548143

In [21]:
#predict

In [23]:
reg.predict([[27,167.56,60]])

C:\Users\bmbar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([26768.0178727])

In [24]:
reg.predict([[60,165.10,80]])

C:\Users\bmbar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92895.52712024])