# Feature Scaling
## Standardization & Normalization

In [1]:
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split # for ML Algorith

In [2]:
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# DF for Numeric Feature

df2 = df[['survived',"pclass",'age','parch']]
df2.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [4]:
# lets clean data

In [6]:
df3 = df2.fillna(df2.mean)

In [7]:
df3.isnull().sum()

survived    0
pclass      0
age         0
parch       0
dtype: int64

In [ ]:
# convert data into matrix and vector bases on dependent and independet features

In [8]:
X = df3.drop("survived", axis = 1)
y = df3["survived"]
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (891, 3)
Shape of y =  (891,)

In [ ]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=51)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)